.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px;
}

.login__container > img {
  object-fit: contain;
  height: 120px;
  margin-bottom: 16px;
  --custom-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--custom-shadow);
}

.login__text {
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  padding-bottom: 16px;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.login__container > button {
  width: 100% !important;
  padding: 16px !important;
  margin-top: 40px !important;
  text-transform: inherit !important;
  background-color: rgb(0 58 112 / 1) !important;
  color: white !important;
  border-radius: 10px !important;
  line-height: 24px !important;
}
